{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}
{% block body %}
    <div class="home">
        <div class="sidebar">
            <header class="logo">
                    <img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="logo">
            </header>
            <nav class="nav">
                <ul class="nav-links">
                    <li><a href="/" class="link"><span>&#127968;</span> Dashboard</a></li>
                    <li><a href="" class="link"><span>&#127891;</span> Classrooms</a></li>
                    <li><a href="" class="link"><span>&#128202;</span> Analytics</a></li>
                    <li><a href="" class="link"><span>&#128213;</span> Defaulters</a></li>
                    <li><a href="" class="link"><span>&#128221;</span> Edit Account</a></li>
                </ul>
            </nav>
            <footer class="sidebar-footer">
                <a href="/login" class="login">Login</a>
            </footer>
        </div>
    </div>
{% endblock body %}


