{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}    
    <div class="header">
        <h1>T-DESK</h1>
    </div>
    <div class="inp">
        <form action="/" method="POST" enctype="multipart/form-data" class="f-input">
            <label for="img">Enter Screenshot</label>
            <input type="file" name="files[]" id="img" multiple="true" autocomplete="off" required>
            <input type="submit" value="SUBMIT">
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock body %}